.edge {
  display: flex;
  position: absolute;
  pointer-events: all;
  overflow: visible;
  flex-direction: column;
  z-index: 2;
  will-change: transform;
}

.active {
  & > div::before {
    display: block;
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    will-change: transform;
    transform: translate3d(0, 0, 0);
    border: 2px solid var(--edge-color);
    border-radius: 9px;
    z-index: -1;
    background-color: aliceblue;
  }
}
