.edge {
  display: flex;
  position: absolute;
  pointer-events: all;
  overflow: visible;
  flex-direction: column;
  z-index: 2;
}

.active > div {
  box-shadow: 0 0 0 2px aliceblue, 0 0 0 4px var(--edge-color);
}
