:root {
  --primary-color: #233351;
  --secondary-color: #0081f1;
  --ternary-color: #19bd2f;

  --layer-color-component: #6e56cf;
  --layer-color-shape: var(--secondary-color);
  --layer-color-element: var(--secondary-color);
}
