@use "sass:color";

$style-color: #8c00ff;
$variable-color: #004a8f;
$operation-color: #181611;
$element-color: orangered;

.container {
  --edge-color: #{color.change($operation-color, $blackness: 70%)};
  --edge-bg: #{color.change($operation-color, $lightness: 90%)};
  --edge-hr: #{color.change($operation-color, $lightness: 84%)};

  &.style {
    --edge-color: #{color.change($style-color, $blackness: 70%)};
    --edge-bg: #{color.change($style-color, $lightness: 90%)};
    --edge-hr: #{color.change($style-color, $lightness: 84%)};
  }

  &.variable {
    --edge-color: #{color.change($variable-color, $blackness: 70%)};
    --edge-bg: #{color.change($variable-color, $lightness: 90%)};
    --edge-hr: #{color.change($variable-color, $lightness: 84%)};
  }

  &.operation {
    --edge-color: #{color.change($operation-color, $blackness: 70%)};
    --edge-bg: #{color.change($operation-color, $lightness: 90%)};
    --edge-hr: #{color.change($operation-color, $lightness: 84%)};
  }

  &.element {
    --edge-color: #{color.change($element-color, $blackness: 70%)};
    --edge-bg: #{color.change($element-color, $lightness: 90%)};
    --edge-hr: #{color.change($element-color, $lightness: 84%)};
  }

  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 1px;
  border-radius: 6px;
  position: relative;
  color: var(--edge-color);
  background-color: var(--edge-bg);
  border: 1px solid var(--edge-hr);
  outline: none;

  // &:focus-within {
  //   box-shadow: 0 0 0 2px aliceblue, 0 0 0 4px var(--edge-color);
  // }
}

.head {
  display: block;
  font-weight: bold;
  padding: 4px;
  padding-bottom: 6px;
  font-size: 12px;
  border-bottom: 1px solid var(--edge-hr);

  // background-color: var(--edge-hr);
  // box-shadow: 0 0 0 2px var(--edge-hr);
  // border-top-left-radius: inherit;
  // border-top-right-radius: inherit;

  & > svg {
    width: 14px;
    height: 14px;
    vertical-align: bottom;
    margin-right: 4px;
  }
}

.content {
  color: var(--edge-color);
  // background-color: var(--edge-hr);
  // box-shadow: 0 0 0 2px var(--edge-hr);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.controls {
  padding: 6px;
  margin: 0;
  font-size: 12px;

  & > li {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;

    & > span:first-child {
      flex: 1;
    }
  }
}

.input {
  display: inline-block;
  background-color: transparent;
  border: 0;
  cursor: crosshair;
  position: absolute;
  left: -18px;
  margin-top: 1px;
  color: orange;

  &:hover {
    color: orangered;
  }

  svg {
    display: inline-block;
  }
}

.outputGroup {
  display: flex;
  text-align: center;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;

  & > div {
    position: relative;
    flex: 1;
    font-size: 12px;
    vertical-align: bottom;

    & > strong {
      display: block;
      padding: 2px;
      margin-top: 2px;
      border-top: 1px solid var(--edge-hr);
    }
  }
}

.output {
  width: 20px;
  height: 20px;
  position: absolute;
  display: block;
  background-color: transparent;
  color: currentColor;
  margin-top: 2px;
  cursor: crosshair;
  position: absolute;
  margin-top: 6px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: orange;

  &:hover {
    color: orangered;
  }

  svg {
    display: inline-block;
  }
}

.preview {
  display: flex;
  background-color: #fff;
  justify-content: center;
  border-radius: 4px;
  margin: 1px;
  height: 50px;
  overflow: hidden;

  & > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // @TODO: Test performance of this scale transform.
    transform: scale(0.8);
  }
}
