.container {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 1px;
  border-radius: 6px;
  position: relative;
  color: #7e38e0;
  background-color: #c9a6fd;
  border: 1px solid #b59adb;
  outline: none;

  &:focus-within {
    box-shadow: 0 0 0 2px aliceblue, 0 0 0 4px #7e38e0;
  }
}

.head {
  display: block;
  font-weight: bold;
  padding: 4px;
  padding-bottom: 6px;
  font-size: 12px;
  border-bottom: 1px solid #b994ed;

  & > svg {
    width: 14px;
    height: 14px;
    vertical-align: bottom;
    margin-right: 4px;
  }
}

.controls {
  padding: 6px;
  margin: 0;
  font-size: 12px;

  & > li {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;

    & > span:first-child {
      flex: 1;
    }
  }
}

.input {
  width: 11px;
  height: 11px;
  display: inline-block;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid currentColor;
  vertical-align: middle;
  margin-top: 2px;
  cursor: crosshair;
  position: absolute;
  left: -18px;

  &:hover {
    border-color: orangered;
  }
}

.outputGroup {
  display: flex;
  text-align: center;
  border-top: 1px solid #b994ed;
  background-color: #b994ed;
  box-shadow: 0 0 0 2px #b994ed;
  margin-top: 2px;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;

  & > div {
    position: relative;
    flex: 1;
    padding: 2px;
    font-size: 12px;
  }
}

.output {
  width: 20px;
  height: 20px;
  position: absolute;
  display: block;
  background-color: transparent;
  color: currentColor;
  margin-top: 2px;
  cursor: crosshair;
  position: absolute;
  margin-top: 6px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  &:hover {
    color: orangered;
  }

  svg {
    display: inline-block;
  }
}

.preview {
  display: flex;
  background-color: #fff;
  justify-content: center;
  border-radius: 4px;
  margin: 2px;
  height: 60px;
  overflow: hidden;

  & > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
