.list {
  min-height: 150px;
  max-height: 300px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.item {
  display: block;
  position: relative;
  padding: 6px 10px 6px 20px;
  border-radius: 5px;
  font-size: 12px;

  button {
    position: absolute;
    top: 2px;
    right: 2px;
  }

  &.text {
    .itemName {
      &::before {
        display: block;
        position: absolute;
        content: 'T';
        font-weight: 900;
        border: 0;
        background: transparent;
        color: currentColor;
        left: 0;
        top: 0;
        border-radius: 0;
        opacity: 0.5;
      }
    }
  }

  &.shape {
    .itemName {
      &::before {
        display: block;
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        border: 1px solid currentColor;
        background-color: transparent !important;
        left: 0;
        top: 6px;
        border-radius: 2px;
        opacity: 0.5;
      }
    }
    color: var(--layer-color-shape);

    &.active {
      color: #fff;
      background-color: var(--layer-color-shape);

      .itemName {
        font-weight: 500;
      }
    }
  }

  &.component {
    color: var(--layer-color-component);

    &.active {
      color: #fff;
      background-color: var(--layer-color-component);

      .itemName {
        font-weight: 500;
      }
    }

    .itemName {
      &::before {
        display: block;
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        border: 1px solid currentColor;
        background-color: currentColor;
        left: 0;
        top: 6px;
        border-radius: 2px;
        opacity: 0.5;
      }
    }
  }

  &:hover {
    background-color: #f5f5f5;
  }

  &.active {
    color: #fff;
    background-color: var(--primary-color);
  }
}

.itemName {
  display: inline-block;
  position: relative;
  padding-left: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  vertical-align: middle;
  height: 18px;

  input {
    display: inline-block;
    width: 100%;
    padding: 0 4px;
    border: 0;
    margin: 0;
    outline: none;
    border-radius: 2px;
  }

  &::before {
    display: block;
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border: 1px solid currentColor;
    left: 0;
    top: 6px;
    border-radius: 2px;
    opacity: 0.5;
  }
}
